<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Order List</title>
</head>
<body>
<h1>Danh sách đơn hàng - [[${orderType} == 'sent' ? 'Đơn gửi' : 'Đơn nhận']]</h1>

<table>
  <thead>
  <tr>
    <th>Mã đơn hàng</th>
    <th>Trạng thái</th>
    <th>Số điện thoại người gửi</th>
    <th>Số điện thoại người nhận</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.status}"></td>
    <td th:text="${order.status}"></td>
    <td th:text="${order.senderPhoneNumber}"></td>
    <td th:text="${order.receiverPhoneNumber}"></td>
  </tr>
  </tbody>
</table>

<a href="/manage-order">Quay lại</a>
</body>
</html>
